In [6]:
import numpy as np
import pandas as pd

hf_data = pd.read_excel("proshares_analysis_data.xlsx", sheet_name="hedge_fund_series")
merrill_data = pd.read_excel("proshares_analysis_data.xlsx", sheet_name="merrill_factors")
hf_data = hf_data.set_index("Unnamed: 0")
hf_data

,HFRIFWI Index,MLEIFCTR Index,MLEIFCTX Index,HDG US Equity,QAI US Equity
Unnamed: 0,,,,,
2011-08-31,-0.032149,-0.025588,-0.025689,-0.027033,-0.006492
2011-09-30,-0.038903,-0.032414,-0.032593,-0.032466,-0.022142
2011-10-31,0.026858,0.043593,0.043320,0.050531,0.025244
2011-11-30,-0.013453,-0.012142,-0.012431,-0.028608,-0.007965
2011-12-31,-0.004479,0.001938,0.001796,0.012874,0.001818
...,...,...,...,...,...
2025-05-31,0.022300,0.019974,0.019702,0.018973,0.019302
2025-06-30,0.023300,0.011474,0.010798,0.010599,0.015305
2025-07-31,0.009700,0.012114,0.011396,0.009106,0.006813
2025-08-31,0.022100,0.013347,0.013024,0.013858,0.015052
2025-09-30,NaN,0.015965,0.015444,0.015018,0.018165

In [7]:
hf_stats = {}
hf_stats["Annualized Mean"] = hf_data.mean() * 12
hf_stats["Annualized Vol"] = hf_data.std() * np.sqrt(12)
hf_stats["Annualized Sharpe Ratio"] = hf_stats["Annualized Mean"] / hf_stats["Annualized Vol"]
hf_stats_df = pd.DataFrame(hf_stats)
hf_stats_df

                Annualized Mean  Annualized Vol  Annualized Sharpe Ratio
HFRIFWI Index          0.051279        0.058796                 0.872151
MLEIFCTR Index         0.038535        0.055240                 0.697589
MLEIFCTX Index         0.036526        0.055102                 0.662880
HDG US Equity          0.026880        0.057388                 0.468396
QAI US Equity          0.028811        0.049823                 0.578275